<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemonDetails">
  <ion-card class="pokemon-card">
    <ion-card-content>
      <div class="pokemon-details">
        <div class="pokemon-image">
          <img [src]="pokemonDetails.sprites.front_default" [alt]="pokemonDetails.name">
        </div>
        <ion-card-title class="pokemon-name">{{ pokemonDetails.name }}</ion-card-title>
        <div class="pokemon-info">
          <div class="pokemon-info-item"><strong>Altura:<br></strong> {{ pokemonDetails.height }} m</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Peso:<br></strong> {{ pokemonDetails.weight }} kgs</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Experience:</strong> {{ pokemonDetails.base_experience }}</div>
        </div>

        <div class="pokemon-info">
          <div class="pokemon-info-item"><strong>HP:<br></strong> {{ pokemonDetails.stats[0].base_stat }}</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Ataque:<br></strong> {{ pokemonDetails.stats[1].base_stat }}</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Defesa:<br></strong> {{ pokemonDetails.stats[2].base_stat }}</div>
        </div>

        <div class="pokemon-info">
          <div class="pokemon-info-item"><strong>Ataque Especial:<br></strong> {{ pokemonDetails.stats[3].base_stat }}</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Defesa Especial:<br></strong> {{ pokemonDetails.stats[4].base_stat }}</div>
          <div class="divider"></div>
          <div class="pokemon-info-item"><strong>Velocidade:</strong> {{ pokemonDetails.stats[5].base_stat }}</div>
        </div>

        <div class="pokemon-abilities">
          <p><strong>Habilidades:</strong></p>
          <ul>
            <li *ngFor="let ability of pokemonDetails.abilities">{{ ability.ability.name }}</li>
          </ul>
        </div>
        <div class="pokemon-types">
          <img [src]="getIconForPokemonType(pokemonDetails.types)" alt="{{ pokemonDetails.type }}">
          <img [src]="getIconForPokemonType(pokemonDetails.types)" alt="{{ pokemonDetails.type }}">

          <p><strong>Tipos:</strong></p>
          <ul>
            <li *ngFor="let type of pokemonDetails.types">{{ type.type.name }}</li>
          </ul>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
