<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      InfoPokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">InfoPokémon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item *ngFor="let pokemon of pokemonList" (click)="openDetailsPokemon(pokemon)" class="pokemon-item" >
      <ion-avatar slot="start">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'" alt="Pokemon Image">
      </ion-avatar>
      <ion-label>
        <h2>{{ pokemon.name }}</h2>
      </ion-label>
      <ion-icon [name]="isFavorite(pokemon) ? 'star' : 'star-outline'"
      slot="end"
      (click)="toggleFavorite(pokemon, $event)"></ion-icon>
    </ion-item>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list>

  <ion-footer>

  </ion-footer>

</ion-content>
